<div class="container text-center">
	<h1>Supercursus</h1>
	<p>Find best courses</p>

<p>

We have <strong> a lot of new courses </strong> today - <%= @today %>  

We are making a website that will contain the one you need! 


</p>

<%= link_to "All courses", courses_path , class: "btn btn-success" %>


</div>
