<div class="container text-center">

<H1>Hello, my name <strong>Ugo</strong> , im coding this new startup for you to find your way - bests courses to get a nice work / life balance. Wish you success </H1>

<p>Supercursus - find best courses</p>

</div>