<h1 class="text-center">All courses</h1>


</p>
</p>

<ul class="text-center">
	<% @courses.each do |course| %>
		<li> 
			
			<%= link_to course.name, course_path(course) %> - <%= course.tagline %>
		</li>
	<% end %>
</ul>

<p class="text-center">
	<%= link_to "Home", root_path, class: "btn btn-primary" %>
<p class="text-center">
	<%= link_to "List a course", new_course_path, class: "btn btn-success" %>
